body{
    background-color: #F4F4F6;
}

.logo{
  width: 60px;
  height: 61px;
  object-fit: contain;
  margin-left: 25px;
  margin-top: 20px;
}


#side{
  margin-left: -15px;
    background-color:#ffffff;
    border-radius: 16px;
    width: 145px;
    height: 960px;
}
.sub{
    width: 74px;
    height: 26px;
    font-family: HelveticaNeue;
    font-size: 14px;
    text-align: center;
  color: #767c8e;
  margin: 10px;
}

.img{
    margin-left: 30px;
    width: 30px;
    height: 25px;
    object-fit: contain
}
.loginfo{
    margin-left: -4px;
    width: 110px;
    height: 94px;
    border-radius: 16px;
  box-shadow: 0 6px 22px 0 rgba(251, 93, 93, 0.4);
  background-image: linear-gradient(131deg, #fb7f3e, #fa496e 100%);
}
.logimg{
    margin: 40px;
    margin-top: 20px;
    width: 28px;
    height: 28px;
    color: white !important;
   
}
.imglog{
  margin-left: 30px;
  width: 28px;
  height: 23px;
  object-fit: contain;
}
.imgcoach{
  margin-left: 30px;
  width: 28px;
  height: 28px;
  object-fit: contain
}
.imgreport{
  margin-left: 30px;
  width: 28px;
  height: 28px;
  object-fit: contain;

}
.imgmessage{
  margin-left: 30px;
  width: 28px;
  height: 21px;
  object-fit: contain;
}
  

.logtext{
  
    font-family: Montserrat;
    text-align: center;
    margin-top: -30px;
    color: white;
}


#otherside{
   

    margin: 50px;
    margin-top: 20px;
    width: 1180px;
  height: 212px;
  object-fit: contain;
  border-radius: 16px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;

}
.what{
      
    
    width: 383px;
  height: 36px;
  font-family: Montserrat1;
  font-size: 26px;
  font-weight: bold;
  text-align: right;
  margin-top: 70px;
  margin-left: 40px;
}

.please{
    margin-top: -10px;
    margin-left: 40px;
    width: 383px;
  height: 22px;
  font-family: HelveticaNeue;
  font-size: 16px;
  text-align: right;
  color: #85868f;

}



#water{

  margin-top: 35px;
  width: 155px;
  height: 122px;
  object-fit: contain;
  border-radius: 16px 0px 0px 16px;
  border: solid 2px #fb4d6b;
}


 .waterimg{

  margin-left: 45px;
   margin-top: 25px !important;
  width: 27.2px;
  height: 36px;
 }


.watertext{
  font-size: 18px;
  font-family: Montserrat;
  text-align: center;
  margin-top: 15px;
  color: #fb4d6b;
}

#meals{
  margin-top: 35px;
  width: 155px;
  height: 122px;
  object-fit: contain;
  border: solid 1px #c3c5d1;
}
    
 

.mealsimg{

  margin-left: 45px;
  margin-top: 35px !important;
  width: 36px;
  height: 30px;
  object-fit: contain;
}


.mealstext{
  font-family: Montserrat2;
  text-align: center;
  margin-top: 15px;
  width: 52px;
  height: 22px;
  margin-left: 40px;
  font-size: 18px;

}
#thoughts{
    
  margin-top: 35px;
  width: 155px;
  height: 122px;
  object-fit: contain;
  border: solid 1px #c3c5d1;   
   

}

.thoughtsimg{
  margin-left: 45px;
  margin-top: 30px !important;
  width: 35px;
  height: 36px;
  object-fit: contain;
}


.thoughtstext{
 font-family: Montserrat2;
 font-size: 18px;
 text-align: center;
 margin-top: 14px;
}

#exercises{

    margin-top: 35px;
    width: 155px;
    height: 122px;
    border-radius: 0px  16px 16px 0px;
    border: solid 1px #c3c5d1;
    
    
}

.exercisesimg{
  
  margin-left: 45px;
  margin-top: 30px !important;
  width: 36px;
  height: 36px;
  object-fit: contain;
}




.exercisestext{
  
  margin-top: 14px;
  font-size: 18px;
  font-family: Montserrat2;
  text-align: center;

}
#downside{
 
  margin-top: -30px !important;
  margin: 50px;
  width: 1180px;
  height: 338px;
  
  border-radius: 16px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.drank{
  
  font-size: 26px;
  font-weight: bold;
  
  line-height: 1.38;
  letter-spacing: normal;
  
  color: var(--dark);
  font-family: Montserrat1;
  margin-top: 60px;
  margin-left: 30px;
  

  
  
  
  

}


.fill{
    margin-top: 10px;
    margin-left: 38px;
    width: 383px;
  height: 22px;
  font-family: HelveticaNeue;
  font-size: 16px;
  text-align: right;
  color: #85868f;

}
#line{
  margin-left: -30px;
width: 1px;
  height: 184px;
  background-color: #c3c5d1;
  margin-top: 30px;



}

#leftside{

  margin-top: 90px;
  width: 60px;
  height: 60px;
  margin-left: -50px;
  border-radius: 16px 0 0 16px;
  border: solid 1px #d0d1db;
}

.minus{
  margin-top: 28px;
  width: 22px;
  height: 2px;

  background-color:  #fb4d6b;
}

#midnumber{
  position: relative;
  background-color: #f4f4f6;
  width: 80px;
  height: 60px;
  margin-top: 90px ;
 

}
#number{
  position:absolute;
  margin-left: 8px;
  margin-top: 10px;
  width: 31px;
  height: 40px;
  font-family: Montserrat1;
  font-size: 30px;

}

#rightside{
  
  margin-top: 90px;
  width: 60px;
  height: 60px;
 
  border-radius: 0px  16px 16px 0px;
  border: solid 1px #d0d1db;

}

.minus1{
  position: relative;
  margin-top: 27px;
  margin-left: -1px;
  width: 22px;
  height: 2px;
  background-color:  #fb4d6b;
}

.plus{
  position: absolute;
  margin-top: 16px;
  margin-left: 10px;
  width: 2px;
  height: 22px;
  background-color:  #fb4d6b;
}


#lastside{
  white-space: nowrap;
  margin-top: 100px;

  margin-left: 13px;
  width: 141px;
  height: 22px;
 

}

.last{
  

  
  width: 141px;
  height: 22px;
  font-family: Montserrat3;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: var(--dark);

}

.lasthr{
  margin-top: 30px;
  background-color: #F4F4F6;
  width: 1180px;
   margin-left: -14px;
   height: 2px;
  
}
#filled{
  text-align: right;
  
  font-family: Montserrat1;
  font-size: 16px;
  font-weight: bold;

}
#save{
  white-space: nowrap;
  margin-left: 19px;
  margin-top: -23px;
  width: 276px;
  height: 74px;
  
  border-radius: 16px 0px 16px 0px;
  background-image: linear-gradient(105deg, #fb7f3e, #fa496e 100%);
}
.saveimg{
  width: 25px;
  height: 23px;
  object-fit: contain;
  margin-left: 10px;
  margin-top: 23px;
}

.savetext{


  margin-top: -20px;
  margin-left: 50px;
  width: 179px;
  height: 26px;
  font-family: Montserrat4;
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
}





@media screen and (max-width:780px){
 #otherrow{
   width: 60%;
   margin-left: 500px;
   margin-top: -130px;
 }

}

@media screen and (max-width:995px){
  #sideline{
    width: 40%;
    margin-left: 490px;
    margin-top: -140px;
  
  }
}

@media screen and (max-width:995px){
  #leftside{

   margin-left: 540px;
   margin-top: -142px;

  }
}


@media screen and (max-width:995px){
  #midnumber{

   margin-left: 600px;
   margin-top: -142px;

  }
}

@media screen and (max-width:995px){
  #rightside{

   margin-left: 680px;
   margin-top: -142px;

  }
}

@media screen and (max-width:995px){
  #lastside{

   margin-left: 750px;
   margin-top: -135px;

  }
}


@media screen and (max-width:995px){
  #filled{
    margin-left: 400px;
    width: 40%;
    margin-top: -13px;
  }
}


@media screen and (max-width:995px){
  #save{
    margin-left: 905px;
   height: 40px;
    margin-top: -30px;
  }
}




@media screen and (max-width:995px){
 .saveimg{
   margin-top: 6px;
 }


  }



















@font-face {
    font-family: HelveticaNeue;
    src: url("Montserrat/Montserrat-Regular.ttf"); 
  }

  @font-face {
    font-family: Montserrat;
    src: url("Montserrat/Montserrat-Bold.ttf"); 
  }

  @font-face {
    font-family: Montserrat1;
    src: url("Montserrat/Montserrat-ExtraBold.ttf"); 
  }
  @font-face {
    font-family: Montserrat2;
    src: url("Montserrat/Montserrat-SemiBold.ttf"); 
  }

  @font-face {
    font-family: Montserrat3;
    src: url("Montserrat/Montserrat-SemiBold.ttf"); 
  }

  @font-face {
    font-family: Montserrat4;
    src: url("helveticaneue/HelveticaNeueMed.ttf"); 
  }