@font-face {
    font-family: Montserrat;
    src: url("Montserrat/Montserrat-ExtraBold.ttf"); 
  }
  @font-face {
    font-family: Montserrat1;
    src: url("Montserrat/Montserrat-Regular.ttf"); 
  }
  @font-face {
    font-family: Montserrat2;
    src: url("Montserrat/Montserrat-Bold.ttf"); 
  }

    body{

        margin: 60px;
        background-color: #F4F4F6;
        
    }
    div{

        
        text-align: center;
        background-color: white;
       
    }
    .login{

        height: 700px;
      
       
    }
.image{
    width: 78px;
    height: 79px;
}
    .top{
        
      font-family: Montserrat;
      font-size: 26px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: normal;
      text-align: center;
      color: var(--dark);
}




 .log{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-image: linear-gradient(98deg, #fb7f3e, #fa496e);
    width: 406px;
    height: 56px;
    border-radius: 14px;
    object-fit: contain;
    font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;



 }
 .forgot{
    font-family: Montserrat1;
    font-size: 16px; 
    color: #0095c4;
    text-decoration: none;
    width: 178px;
    height: 22px;

 }
.user{
    padding-left: 10px;
    font-family: Montserrat1;
    font-weight: bold;
    width: 466px;
    height: 56px;
    border-radius: 9px;
  background-color: #f4f4f6;
  color: #212121;
  font-size: 16px;
  
 
}



.pass{
    padding-left: 10px;
    font-family: Montserrat1;
    font-weight: bold;
    width: 466px;
    height: 56px;
    border-radius: 9px;
  background-color: #f4f4f6;
  font-size: 16px;
  color: #212121;
}
button{
    margin-left: -10px;
}
.error{
    color: red;
    font-size: 15px;
}
@media screen and (max-width:600px)
{
    body,.login,input{
        width: 80% !important;
        margin-top: 0 !important;
    }
}

@media screen and (max-width:600px){
  .u,.p {
      width: 80% !important;
      margin-top: 0 !important;
  }
  
}
@media screen and (max-width:600px){
    .log{
    width: 80% !important;
    }
}